azure-core
azure-cosmos
azure-identity
azure-iot-hub
azure-mgmt-cosmosdb
azure-mgmt-iothub
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-servicebus
azure-mgmt-storage
azure-mgmt-web
msrest
msrestazure
gitpython